main{
    margin-top: 80px;
}
/* MENU NAVEGACION */
.barra-busqueda-inicio{
    padding-left: 40px;
    border-radius: 30px;
    background-color: rgb(232, 232, 232);
}
/* IMAGENES */
.pie-foto{
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
}
.icono-pie-foto{
    width: 35px;
    height: 35px;
}
.link-pie-foto{
    font-size: smaller;
    color: black;
    text-decoration: none;

}
/* TARJETA E INTERIOR */
.tarjeta {
    border-radius: 2rem;
    border: none;
}


.save {
    border-radius: 5rem;
}

h6{
    text-align: center;
    padding: 10px;
    margin-top: 10px;

}
.upl-perfil{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.perf{
    
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.icono-perfil{
    display: flex;
    justify-items: center;
    align-self: center;

}
.datos-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}
.contenedor-seguir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}
.seguir{
    background-color: rgb(217, 217, 217);
    color: #000000;
    border-radius: 5rem;
    border:none;
    font-weight: 500;
}
.datos p{
    font-size: small;
}
/* SIMBOLOS DE + E ? FLOTADOS */
.simbolos{
    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    right: 50px;
    bottom: 25px;
}
.atajo{
    margin: 5px;
    padding: 5px;
    width: 50px;
    height: 50px;
    background-color: rgb(242, 242, 242);
    border-radius: 100px;
    font-weight: 800;
    font-size: x-large; 

}
.pieza{
    margin-left: 12px;
    display: flex;
    justify-self: flex-start;
    align-items: center;
}
/* FOOTER */
.footer{
    height: 50px;
    background-color: rgb(246, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MEDIA QUERY */
/* EN ESTE MEDIA QUERY SE DESAPARECEN LOS ÍCONOS DE BANDEJA, NOTIFICACIÓN Y PERFIL AL MOMENTO DE CONTRAERSE */
@media only screen and (max-width:994px){
    .icon-nav{
        display: none;
    }
   }

/* EN ESTE MEDIA QUERY SE APARECE LA PALABRA "FAKEPINTEREST" AL MOMENTO DE CONTRAERSE*/
@media only screen and (min-width:994px){
    .nombre-pinterest{
        display: none;
    }
   }